# 1번 문제

In [ ]:
# 응답 설문 문항
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

In [ ]:
# 단일 응답 문제 리스트 생성
single_choice = []

# for문으로 하나씩 확인해서 리스트 추가
for i in question:
  if '_' not in i:
    single_choice.append(i)

print(single_choice)

# 2번 문제

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [ ]:
# 2011년 이후의 자료만 추출
df_recent = df[df['Year']>= 2011]
# 추출한 자료로 pivot table 만들기
df_recent.pivot_table(values = 'Life_Expectancy', index = 'Year', columns = 'Country', aggfunc = 'mean')

# 3번 문제

### Pandas를 통한 파일 저장과 불러오기

* to_csv("파일명", index=False) : csv 파일로 저장하기
* read_csv("파일명") : csv 파일 불러오기
* shape를 통한 행과 열의 수 보기
* head, tail, sample 을 통한 일부 데이터 가져오기

### DataFrame의 info(), describe() 등을 통한 요약과 기술통계 값 구하기

* info()
* describe()
* nunique()
* index
* columns
* values

### Pandas의 DataFrame과 Series의 이해

* Series : 1차원 벡터구조
* DataFrame : 2차원 행렬구조

### 색인하기

* [컬럼]
* .loc[행]
* .loc[행, 열]
* .loc[조건식, 열]

### DataFrame의 데이터 타입 이해하기

* 날짜 데이터의 변환

### DataFrame 다루기

* 열(column) 인덱싱
* 행(index) 인덱싱
* 행, 열 인덱싱
* 정렬하기 : sort_values 사용하기
* 조건식 사용하기

### 빈도수 구하기

* 한 개의 변수 : series.value_counts()
* 두 개의 변수 : pd.crosstab()

### groupby 와 pivot_table

* 다양한 연산식의 사용

# 4번 문제

In [ ]:
import pandas as pd

data = pd.read_csv('공공데이터포털 - 서울특별시 강남구_생활폐기물배출량.csv', encoding='cp949')
data